spring:
  application:
    name: delivery-service
    org: online-shop-demo
  datasource:
    url: jdbc:postgresql://localhost:5432/online_shop_demo?currentSchema=delivery_service
    username: app_user
    password: app_password
    hikari:
      data-source-properties:
        ApplicationName: ${spring.application.name}
        assumeMinServerVersion: 17.5
      pool-name: ${spring.application.name}-pool
      connection-timeout: 10000    # default is 30000
  jpa:
    open-in-view: false
  liquibase:
    change-log: classpath:liquibase/master.yaml

server:
  port: 8092
  shutdown: graceful

application:
  clients:
    delivery-service:
      kafka:
        connection:
          bootstrap-servers: http://localhost:9092
        replying.consumer:
          request:
            group-id: ${spring.application.name}
            topics: delivery-service.request
          reply:
            topic: delivery-service.reply

management:
  health:
    disk-space.enabled: false
  endpoint:
    health:
      show-components: always
      probes.enabled: true
      group:
        readiness:
          include:
            - readinessState
            - redis
            - db
  endpoints:
    web.exposure.include: health,metrics,prometheus
  observations:
    key-values.org: ${spring.application.org}
  metrics:
    tags:
      application: ${spring.application.name}
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  tracing:
    sampling:
      probability: 1.0

logging:
  loki:
    url: http://localhost:3100/loki/api/v1/push
  level:
    root: info