name: Build service-support

on:
  push:
    branches: [ main ]
    paths:
      - '*/service-support/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build service-support
        run: ./gradlew build -p ./05-libraries/service-support

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4
        with:
          artifact-retention-days: 3
          build-root-directory: ./05-libraries/service-support
